body {
    background-color: #FFF1E1;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.parent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    max-height: 65%;
}

.upperRow {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    background-color: #9BBDE7;
    color: #254655;
    max-height: 25%;
}

    .upperRow h3 {
        margin: 0;
        padding: 20px 0;
    }

.addnewgame {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    align-items: center;
}

.myBtn {
    max-height: 80%;
    text-align: center;
    font-size: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .addnewgame input {
        margin-right: 10px;
    }

.table-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 100%;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    font-size: .7rem;
}

.table-container {
    max-height: 100%;
    overflow-y: auto;
    width: 100%;
/*    box-shadow: 0 2px 15px rgba(64, 64, 64, .7);
*/    border-radius: 12px 12px 0 0;
    background-color: #ffffff;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    /*    padding: 15px 20px;
*/
    padding: 1% 1.5%;
    text-align: center;
}

th {
    background-color: antiquewhite;
    color: #295C73;
    font-family: 'Open Sans', Sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

tr {
    width: 100%;
    background-color: #fafafa;
}

.row-color-1 {
    background-color: #cbedf3;
}

.row-color-2 {
    background-color: #e2f7f6;
}



.icon-button {
    background: none;
    border: none;
    cursor: pointer;
/*    padding: 10px;
*/    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .icon-button:hover {
        color: #007BFF; /* Default hover color */
    }

.delete-button {
    color: #dc3545; /* Red color for delete icon */
}

    .delete-button:hover {
        color: #c82333; /* Darker red on hover */
    }




@media (max-width: 768px) {
    .parent-container {
        width: 90%;
    }

    .addnewgame {
        width: 90%;
    }

    .table-wrapper {
        width: 90%;
    }

    td, th {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .parent-container {
        width: 100%;
    }

    .addnewgame {
        width: 100%;
    }

    .table-wrapper {
        width: 100%;
    }

    td, th {
        padding: 8px;
        font-size: 14px;
    }

    th {
        font-size: 12px;
    }
}

.editbut {
    color: #254655;
    font-weight: bold;
    background-color: #9BBDE7;
    border-color: #94b9ff;
    border-radius: 20%;
}

.info-circle {
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
}

    .info-circle:hover {
        background-color: #0056b3;
    }
