
/*   START OF chooseCharacter    */

#chooseCharacter {
    height: 100%;
    flex-direction: column;
    height: 100%;
}

.characterColumm {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
/*   ----- END ----  */

/*START OF SECOND CANVAS*/



/*   ----- END ----  */





