body {
    direction: rtl;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: rgb(214,251,224);
    background: linear-gradient(0deg, rgba(214,251,224,1) 0%, rgba(192,236,255,1) 100%);
}

app {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
#app, .page, main, article {
    height: 100%;
}

#page {
    position: relative;
    display: flex;
    flex-direction: column;
    direction: rtl;
    height: 100%; /*i added this*/
}

:root {
    font-size: 24px;
/*    --t: 20;
*/

}


h1{
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}




/*   ----------  START OF FIRST CANVAS DESIGN   ----------   */

#FristCanvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../imgs/screen.png);
    background-size: 56%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-position-y: top;
    bottom: 3%;

}


.images {
    width: 15%;
    bottom: 20%;
    position: absolute;
}

#FristCanvas > button {
    background-color: white; /* White background */
    border: 2px solid #ccc; /* Light grey border */
    color: black; /* Black text */
    padding: 10px 20px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make it inline-block */
    font-size: 1rem; /* Font size */
    margin: 10px 2px; /* Margin */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

    #FristCanvas > button:hover {
        background-color: #45a049; /* Darker green on hover */
    }


#FristCanvas > input[type="number"] {
    background-color: white; /* White background */
    border: 2px solid #ccc; /* Light grey border */
    color: black; /* Black text */
    padding: 10px 20px; /* Padding */
    text-align: center; /* Center text */
    display: inline-block; /* Make it inline-block */
    font-size: 1rem; /* Font size */
    margin: 10px 2px; /* Margin */
    border-radius: 15px; /* Rounded corners */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Inner shadow effect */
    outline: none; /* Remove default outline */
    width: 15%;
    height: 7%;
}

    #FristCanvas > input[type="number"]:focus {
        border-color: #aaa; /* Darker border on focus */
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); /* Slightly darker inner shadow on focus */
    }

/*   ----------   END OF FIRST CANVAS DESIGIN   ----------   */




/* ------ START OF GENERAL DESIGN ------ */
.container {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    direction: rtl; /* Right-to-left layout direction */
    max-width: 100%;
}


.right-column {
    width: 60%; /* Adjust as needed */
    padding: 10px; /* Optional: add some padding */
    overflow-y: hidden; /* Ensure content doesn't overflow */
}

.left-column {
    display: flex;
    flex-direction: column;
    width: 40%; /* Adjust as needed */
}

/* ------ END OF GENERAL DESIGN ------ */


/*   ----------   START OF LAYOUT CANVAS DESIGIN   ----------   */

/*  thea right aside elements form showing thead groups  */

    .right-column ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: 90%;
        margin: 0;
    }

        .right-column ul li {
            list-style: none;
            width: 25%;
            height: 30%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            border: solid 1px;
            border-radius: 20px;
            background-color: white;
            backdrop-filter: blur(10px);
            padding: 0 10px;
            margin: 0 1%;
        }

            .right-column ul li img {
                width: 50%;
            }

            .right-column ul li div {
                display: flex;
                justify-content: center;
            }

.header {
    display: flex;
    justify-content: center;
    max-height:25%;
}

    .header p {
        font-size: .7rem;
        margin: 0;
    }

.body {
    display: flex;
    justify-content: center;
    max-height: 50%;
}

.smallImg{
    width:40%;
}

.footer {
    display: flex;
    justify-content: center;
    max-height: 25%;
}

    .footer p {
        font-size: .7rem;
        margin: 0;
    }

ul li.my-group {
    background-color: antiquewhite !important; /* Choose your desired color */
}

/*  End of right side  */

/*  thea left aside elements, thead image, text & buttons  */
.left-top {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-middle {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-bottom {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .left-bottom img {
        max-height: 100%; /* Ensures the image scales properly within the bottom section */
        max-width: 100%; /* Ensures the image scales properly within the bottom section */
    }


.speech-bubble-container {
    position: absolute;
    margin-top:7%;
    /*bottom: 35vh;*/ /* Use viewport height to position the speech bubble responsively */
    width: 80%; /* Adjust width as needed */
    text-align: center;
    display: flex;
    justify-content: center;
}

    .speech-bubble-container .character-text {
        background: #fff;
        border-radius: .4em;
        padding: 2vh 3vw; /* Adjust padding to expand the speech bubble */
        max-width: 100%; /* Ensure it doesn't exceed container's width */
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        word-wrap: break-word; /* Ensure long words break */
        margin-bottom: 2vh; /* Add some space between the speech bubble and the character */
        position: relative; /* Ensure the pseudo-element positions relative to this */
    }

        .speech-bubble-container .character-text::after {
            content: '';
            position: absolute;
            bottom: -10px; /* Adjust this value to position the tail correctly */
            left: 50%;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-top-color: #fff;
            border-bottom: 0;
            margin-left: -10px;
        }

/*  End of left side  */

/*   ----------   END OF LAYOUT CANVAS DESIGIN   ----------   */






/*   ----------   START OF VOTE GAME CANVAS DESIGIN   ----------   */


#voteGameCanvas {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

#LawContentContainer {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.smallerHalf {
    height: 30%;
    width: 100%;
}

.biggerHalf {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head {
    flex: 35%; /* Set the top part to take up 35% of the height */
}

.bottom {
    flex: 65%; /* Set the bottom part to take up the remaining space */
    display: flex;
    flex-direction: column;
}




/* Start of table design */

#ForTable {
    flex: 1; /* Split the space equally */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 45%;
    height: 100%;
    border-collapse: separate; /* Change to separate to allow for rounded corners */
    border-spacing: 0; /* Ensure no space between cells */
    margin: 0 auto;
    border-radius: 10px; /* Add rounded corners to the table */
    overflow: hidden; /* Ensure overflow is hidden to hide any content that exceeds the rounded corners */
    position: relative; /* Ensure the table is positioned relatively for absolute positioning of pseudo-element */
}




    #ForTable table {
        width: 25%;
        height: 81%;
        border-radius: 10px;
        border:solid 1px;
    }

th, td {
    border: none; /* Remove border to prevent double border appearance */
    padding: 8px;
    text-align: center;
    position: relative; /* Ensure the table cell is positioned relatively for absolute positioning of pseudo-element */
}

th {
    background-color: white;
    color: black;
    position: relative; /* Ensure the table header is positioned relatively for absolute positioning of pseudo-element */
}

td {
    background-color: white;
    color: black;
}

/* Add vertical line using pseudo-element */
#ForTable table::after {
    content: '';
    position: absolute;
    top: 24%; /* Adjust the top position to add spacing between line and table border */
    bottom: 24%; /* Adjust the bottom position to add spacing between line and table border */
    left: 49%; /* Position the line at the middle of the table */
    transform: translateX(-50%); /* Move the line to the left by half its width */
    width: 1px; /* Width of the line */
    background-color: black; /* Color of the line */
}

/* Add horizontal lines under "pass" and "fall" headers */
#ForTable th#pass::after, th#fall::after {
    content: '';
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: -10px; /* Adjust the bottom position to add spacing between line and table border */
    border-bottom: 1px solid black; /* Add a bottom border */
    z-index: 2; /* Ensure the lines are above the middle line */
}

#fall {
    color: red;
}

/* End of table design */


#lawWrapper {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 80%; /* Make it fill the width of its parent */
    height: 100%;
}

#law {
    background-color: aliceblue;
    width: 80%; /* Set the desired width */
    height: 85%;
    padding: 2%;
    border: 1px solid black; /* Add a 1px solid black border */
    border-radius: 10px; /* Add rounded corners with a radius of 10px */
}



#cardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    gap: 5%;
}

#For,
#Avoid,
#Against {
    width: 25%;
    height: 80%;
    border: none; /* Remove the border */
    font-size: 2rem;
    border-radius: 10px;
}

#For {
    background-color: #42EB9A;
}

#Avoid {
    background-color: #EBE142;
}

#Against {
    background-color: #EB3121;
}

/* When button is hovered */
#cardsContainer button:hover {
    transform: scale(1.2); /* Increase size by 20% */
    transition: transform 0.3s ease; /* Add smooth transition */
}



/*  pie chart design */
#PieChartContainer {
    display: none; /* Initially hide the PieChartContainer */
    width: 100%; /* Same width as LawContentContainer */
    height: 100%; /* Same height as LawContentContainer */
    justify-content: center;
}

#canvasContainer {
    width: 100%;
    height: 100%;
}



#resultsContainer {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#resultsContainer div{
    width:100%;
    height:100%;
}


    #resultsContainer table {
        width: 80%;
        height: 60%;
    }

/* --------------- */


/*   ----------   END OF VOTE GAME CANVAS DESIGIN   ----------   */


.vote-count {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #007bff;
}

    .vote-count i {
        margin-right: 8px;
        color: #28a745;
    }



