@if (IsVisible) {


    <div class="overlay">
        <div class="popup">

            <div class="header">
                <span style="color:white">אודות</span>
                <button class="close-button" @onclick="ClosePopup">X</button>
            </div>

            <div class="content">
                <h2>קולנו יחד</h2>
                <p>משחק אינטראקטיבי מבוסס דפדפן עבור התנועה לאיכות השלטון</p>
                <p>פרויקט גמר תשפ"ד 2024</p>
                <a href="https://www.hit.ac.il/" class="link" target="_blank" rel="noopener noreferrer">
                    הפקולטה לטכנולוגיות למידה
                </a>


                <div class="some-container">
                    <div class="project-info-container">
                        <div class="project-info">
                            <img src="./imgs/hit logo.png" alt="Hit Logo" class="logo" />
                            <div class="col">
                                <div class="text-wrapper">
                                    <h3>צוות הפרויקט</h3>
                                    <p>שון בלייר, יובל ולצר</p>
                                </div>
                                <div class="text-wrapper">
                                    <h3>מנחה</h3>
                                    <p>ינאי זגורי</p>
                                </div>

                            </div>

                        </div>

                        <div class="project-info">
                            <img src="./imgs/organization.png" alt="Organization Logo" class="logo" />
                            <div class="text-wrapper">
                                <p>בשיתוף עם התנועה לאיכות השלטון בישראל</p>
                                <p>נציגת הארגון: גל דיבון</p>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

            <div class="footer">
                <span style="color:white">כל הזכויות שמורות למכון הטכנולוגי חולון</span>
            </div>
        </div>
    </div>







}

@code {
    [Parameter]
    public bool IsVisible { get; set; } = false;

    [Parameter]
    public EventCallback OnClose { get; set; }

    private void ClosePopup() {
        IsVisible = false;
        OnClose.InvokeAsync(null);
    }
}
