.floating-btn {
    position: fixed;
    bottom: 10%;
    right: 2%;
    background-color: #0062D1;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 999;
    transition: background-color 0.3s;
    /*    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.2);
*/
}

    .floating-btn:hover {
        background-color: #BFD8FF;
    }

/* Group List (Bottom Right) */
.group-list {
    position: fixed;
    bottom: 26%;
    right: 2%;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 999;
    max-height: 300px;
    overflow-y: auto;
    width: 250px;
}

    .group-list ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .group-list li {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        border-bottom: 1px solid #eee;
    }

        .group-list li:last-child {
            border-bottom: none;
        }

.group-name {
    font-weight: bold;
    color: #333;
}

.group-score {
    color: #007bff;
}
