@inherits LayoutComponentBase

<head>
    <link href="/css/styles.css" rel="stylesheet" />
</head>

<div class="page">
    <div class="topbar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>