@inherits LayoutComponentBase

<head>
    <link href="/css/styles.css" rel="stylesheet" />
</head>

<div class="page">
    <div class="topbar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

    <div class="attribution-container">
        <p style="font-size:12px;" >Designed by <a href="https://www.freepik.com/" title="Freepik" target="_blank" rel="noopener noreferrer">Freepik</a></p>
    </div>
</div>