<nav>
    <div>
        <NavLink href="" Match="NavLinkMatch.All">
            משחק
        </NavLink>
    </div>
    <div>
        <NavLink href="" @onclick="ShowLoginPopup">
            עורך
        </NavLink>
    </div>
    <div>
        <input class="btn-nav" type="button" value="אודות" />
    </div>
</nav>

<LoginPopup @ref="loginPopup" />

@code {
    private LoginPopup loginPopup;

    private void ShowLoginPopup() {
        loginPopup?.Show();
    }
}
