<nav>
    <div>
        @if (isLoggedIn) {
            <NavLink href="LecturePage" Match="NavLinkMatch.All">
                משחק
            </NavLink>
        }
        else {
            <NavLink href="UserPage" Match="NavLinkMatch.All">
                משחק
            </NavLink>
        }
    </div>
    <div>
        <NavLink href="" @onclick="ShowLoginPopup">
            עורך
        </NavLink>
    </div>
    <div>
        <input class="btn-nav" type="button" value="אודות" />
    </div>
</nav>

<LoginPopup @ref="loginPopup" OnLoginSuccess="OnLoginSuccess" />

@code {
    private LoginPopup loginPopup;
    private bool isLoggedIn = false;

    private void ShowLoginPopup() {
        loginPopup?.Show();
    }

    private void OnLoginSuccess() {
        isLoggedIn = true;
        StateHasChanged();
    }
}
